:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0e0e75;
    --primary-color: #4674ff;
    --secondary-color: #1041ac;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #06ff06;
}
